.form-group .label
{
    float: left;
    position: absolute;
}

.form-group .form-control
{
    display: block;
    margin-top: 15px;
    float: left;
}

.forms{
    width: 50%;
}


.form-group #filtro
{
    width: 100%;
}

.t3{
    margin-top: 3px;
}